<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:jee="http://www.springframework.org/schema/jee"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/jee
 http://www.springframework.org/schema/jee/spring-jee.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

 <context:annotation-config />

 <context:component-scan base-package="controller" />
 <context:component-scan base-package="dao" />
 <context:component-scan base-package="domain" />
 <context:component-scan base-package="filter" />

 <jee:jndi-lookup id="dataSource" jndi-name="jdbc/mydb"/>

 <!-- JdbcTemplate 用の Bean 定義 -->
 <bean class="org.springframework.jdbc.core.JdbcTemplate">
 <constructor-arg ref="dataSource" />
 </bean>

 <!-- NamedParameterJdbcTemplate 用の Bean 定義 -->
 <bean class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
 <constructor-arg ref="dataSource" />
 </bean>

</beans>